// Colours
//----------------------------------------------------------

$primary-color: #000000;
$secondary-color: #ffffff; 


// Fonts
//----------------------------------------------------------

$font-arial: Arial, sans-serif;
$default-font: $font-arial;


// Breakpoints
//----------------------------------------------------------

$break-small: 620px;
$break-large: 1024px;