doctype html
html(lang="#{$localeName}")

  - var lang = $localeName

  head
    block title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="css/app.css")

  body(class="#{$localeName}")

    include ../includes/header.jade

    block content

    include ../includes/footer.jade

    script(src="js/app.min.js")
    script(src='//localhost:35729/livereload.js')